/* Font Family */

* {
    font-family: 'Noto Serif JP', 'Lato';
    font-weight: normal;
    color: #111;
}

.sawarabi_gothic {
    font-family: "Sawarabi Gothic";
}

.comfortaa {
    font-family: 'Comfortaa', cursive;
}

/* Body */

html, body {
    height: 100%;
}

/* Header */

header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 64px;
    width: 100%;
    z-index: 999;
    padding: 10px 20px;
    top: 50px;
    opacity: 0;
    -webkit-animation: headerShow 0.5s ease forwards;
    -moz-animation: headerShow 0.5s ease forwards;
    -o-animation: headerShow 0.5s ease forwards;
    animation: headerShow 0.5s ease forwards;
    background-color: rgba(255, 255, 255, 0.8);
}

header>div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_title {
    font-size: 16px;
    padding: 1px 2px;
    color: #555;
    font-family: "M PLUS Rounded 1c";
    font-weight: bold;
}

.header_menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.header_menu li:not(:last-of-type) {
    padding-right: 20px;
}

.header_menu li a {
    font-weight: bold;
    display: inline-block;
    position: relative;
    text-decoration: none;
    -webkit-transition: all 0.3s 0s ease;
    -moz-transition: all 0.3s 0s ease;
    -o-transition: all 0.3s 0s ease;
    transition: all 0.3s 0s ease;
    padding: 1px 5px;
    font-family: "M PLUS Rounded 1c";
    color: #555555;
}

.header_menu li a:hover {
    color: #2864CD;
}

.header_menu li a.active {
    color: #FFF;
}

.header_menu li a::before {
    background-color: rgba(55, 55, 55, 0.8);
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    width: 0;
    z-index: -1;
    -webkit-box-shadow: 0px 0px 1px rgba(100, 100, 100, 0.4);
    -moz-box-shadow: 0px 0px 1px rgba(100, 100, 100, 0.4);
    box-shadow: 0px 0px 1px rgba(100, 100, 100, 0.4);
}

.header_menu li a.active::before {
    width: 100%;
}

/* Hero header */

.hero_header {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 10px;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    background: -webkit-linear-gradient(165deg, rgb(213, 241, 255), #ffffff, #ffffff, #ffffff);
    background: -moz-linear-gradient(165deg, rgb(213, 241, 255), #ffffff, #ffffff, #ffffff);
    background: -o-linear-gradient(165deg, rgb(213, 241, 255), #ffffff, #ffffff, #ffffff);
    background: linear-gradient(-75deg, rgb(213, 241, 255), #ffffff, #ffffff, #ffffff);
    -webkit-background-size: 200% 200%;
    -moz-background-size: 200% 200%;
    -o-background-size: 200% 200%;
    background-size: 200% 200%;
    -webkit-animation: gradient 15s ease infinite;
    -moz-animation: gradient 15s ease infinite;
    -o-animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
}

.hero_title_wrap {
    text-align: center;
}

.hero_title h2 {
    font-size: 48px;
    font-family: "M PLUS Rounded 1c";
    letter-spacing: 5px;
    position: relative;
    opacity: 0;
    top: 20px;
    -webkit-animation: heroTitleShow 0.5s ease 0.3s forwards;
    -moz-animation: heroTitleShow 0.5s ease 0.3s forwards;
    -o-animation: heroTitleShow 0.5s ease 0.3s forwards;
    animation: heroTitleShow 0.5s ease 0.3s forwards;
}

.hero_title h2::first-letter {
    color: #2864CD;
}

.hero_subtitle h2 {
    font-size: 28px;
    text-align: center;
    font-family: "M PLUS Rounded 1c";
    letter-spacing: 5px;
    position: relative;
    opacity: 0;
    bottom: 20px;
    -webkit-animation: heroSubTitleShow 0.4s ease 0.3s forwards;
    -moz-animation: heroSubTitleShow 0.4s ease 0.3s forwards;
    -o-animation: heroSubTitleShow 0.4s ease 0.3s forwards;
    animation: heroSubTitleShow 0.4s ease 0.3s forwards;
}

.go_down_wrap {
    display: contents;
}

.go_down_wrap:hover .go_down_icon_wrap {
    padding-top: 7px;
}

.go_down_wrap:hover .go_down_polygon {
    stroke: #555555;
}

.go_down_wrap:hover .go_down_text_wrap h3 {
    color: #2864CD;
}

.go_down_icon_wrap {
    position: absolute;
    top: 85%;
    -webkit-transition: all 0.3s 0s ease;
    -moz-transition: all 0.3s 0s ease;
    -o-transition: all 0.3s 0s ease;
    transition: all 0.3s 0s ease;
}

.go_down_icon {
    width: 25px;
}

.go_down_polygon {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    stroke-width: 4px;
    -webkit-animation: showGoDownIcon 8s linear 0.5s forwards;
    -moz-animation: showGoDownIcon 8s linear 0.5s forwards;
    -o-animation: showGoDownIcon 8s linear 0.5s forwards;
    animation: showGoDownIcon 8s linear 0.5s forwards;
    fill: none;
    stroke: #111111;
    stroke-miterlimit: 10;
    -webkit-transition: all 300ms 0s ease;
    -moz-transition: all 300ms 0s ease;
    -o-transition: all 300ms 0s ease;
    transition: all 300ms 0s ease;
}

.go_down_text_wrap {
    position: absolute;
    top: -webkit-calc(85% - 10px);
    top: -moz-calc(85% - 10px);
    top: calc(85% - 10px);
}

.go_down_text_wrap h3 {
    font-family: "M PLUS Rounded 1c";
    letter-spacing: 5px;
    font-size: 16px;
    font-weight: bold;
    opacity: 0;
    position: relative;
    bottom: 10px;
    -webkit-transition: all 200ms 0s ease;
    -moz-transition: all 200ms 0s ease;
    -o-transition: all 200ms 0s ease;
    transition: all 200ms 0s ease;
    -webkit-animation: showGoDownText 0.5s ease 0.8s forwards;
    -moz-animation: showGoDownText 0.5s ease 0.8s forwards;
    -o-animation: showGoDownText 0.5s ease 0.8s forwards;
    animation: showGoDownText 0.5s ease 0.8s forwards;
}

/* Main Contents */

main {
    background-color: #FAFAFA;
}

section {
    padding-top: 100px;
}

.section_inline_wrap {
    margin: 0 15%;
    text-align: center;
}

.section_title {
    text-align: center;
    font-size: 24px;
    font-family: "M PLUS Rounded 1c";
    font-weight: bold;
}

.section_title::before {
    content: "-";
    margin-right: 5px;
}

.section_title::after {
    content: "-";
    margin-left: 5px;
}

.section_detail {
    text-align: center;
    margin: 50px 0;
}

.chart_detail_wrap {
    display: inline-block;
    margin-top: 50px;
    border: 1px solid #333;
    padding: 10px;
}

.chart_detail {
    text-align: left;
    font-size: 14px;
    color: #333;
}

/* Skill Sets */

.skill_set_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.skill_wrap {
    width: 33.333333%;
    padding: 0 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* Works */

.cards_wrap_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 25px;
}

.cards_wrap_row:first-of-type {
    margin-top: 50px;
}

.cards_wrap_row:last-of-type {
    margin-bottom: 100px;
}

.card_wrap {
    background-color: #FFF;
    border: 1px solid #ccc;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 33.333333%;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.card_wrap:hover {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.card_wrap:first-of-type {
    margin-right: 25px;
}

.card_wrap:last-of-type {
    margin-left: 25px;
}

.card_image_wrap {}

.card_image_wrap img {
    max-width: 100%;
    vertical-align: middle;
}

.card_detail_title {
    text-align: left;
}

.card_detail_title p {
    font-size: 16px;
    font-weight: bold;
    padding: 16px 16px 0 16px;
}

.card_detail_wrap {
    text-align: left;
}

.card_detail_wrap p {
    padding: 16px 16px 0 16px;
    font-size: 14px;
}

.card_detail_tools {
    text-align: left;
    padding: 16px;
}

.card_detail_tools .chip {
    font-size: 13px;
    padding: 0 12px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: rgba(0, 0, 0, 0.6);
    height: 32px;
    line-height: 23px;
}

.card_detail_tools .chip.front-end {
    background-color: rgba(213, 84, 64, 0.2);
}

.card_detail_tools .chip.back-end {
    background-color: rgba(40, 100, 205, 0.2);
}

.card_detail_tools .chip.design {
    background-color: rgba(114, 153, 15, 0.2);
}

.card_detail_tools .chip.other {
    background-color: #e4e4e4;
}

.card_detail_links {
    text-align: right;
    padding: 0 16px 16px 16px;
}

.card_detail_links a:hover svg {
    opacity: 0.6;
}

.card_detail_links svg {
    width: 32px;
    height: 32px;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    display: inline-block;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.card_detail_links svg.work_link {
    background-image: url(../img/icon/link.svg);
}

.card_detail_links svg.github_link {
    background-image: url(../img/icon/github.svg);
}

/* Profile */

.section_profile {
    background-color: #FFF;
    margin-bottom: 50px;
}

.profile_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.profile_image_wrap {}

.profile_image_wrap img {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    width: 100px;
    height: 100px;
}

.profile_detail_wrap {
    margin-left: 20px;
    text-align: left;
    width: 100%;
}

.profile_name {
    font-size: 18px;
    color: #555;
    padding-bottom: 5px;
}

.profile_detail {
    font-size: 14px;
    color: #555;
}

.profile_address {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.profile_contact {
    font-size: 14px;
    color: #555;
}

.profile_contact a {
    color: #2864CD;
    text-decoration: none;
    border-bottom: 1px dotted #aaa;
}

.profile_contact a:hover {
    opacity: 0.6;
}

.profile_links {
    text-align: right;
    margin-top: 25px;
}

.profile_links a {
    font-size: 14px;
    margin-right: 10px;
    text-decoration: none;
    border-bottom: 1px solid #555;
    color: #555;
}

.profile_links a:last-of-type {
    padding-right: 0;
}

/* Footer */

footer {
    background-color: #FFF;
    text-align: center;
}

.footer_copyright {
    text-align: center;
    font-family: "Comfortaa", cursive;
    font-size: 14px;
    padding: 10px;
    color: #AAA;
}

/* Loading */

.loadingWrap {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 9999;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.unLoadingBlock {
    display: none;
}

/* Inview Block */

.inview {
    opacity: 0;
}

/* Only PC */

@media screen and (min-width:751px) {
    .display_only_sp {
        display: none !important;
    }
}

/* Only Mobile Device */

@media screen and (max-width:991px) {
    /* Main Contents */
    .section_inline_wrap {
        margin: 0 5%;
    }
    /* Works */
    .cards_wrap_row {
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        margin: 0;
    }
    .card_wrap {
        width: 100%;
        margin-bottom: 25px;
    }
    .card_wrap:first-of-type {
        margin-right: 0;
    }
    .card_wrap:last-of-type {
        margin-left: 0;
        margin-bottom: 0;
    }
}

/* Only Smart Phone */

@media screen and (max-width:750px) {
    .display_only_pc {
        display: none !important;
    }
    /* Menu Button */
    .sp_menu_button, .sp_menu_button span {
        display: inline-block;
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .sp_menu_button {
        position: relative;
        width: 40px;
        height: 32px;
    }
    .sp_menu_button span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #111;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    .sp_menu_button span:nth-of-type(1) {
        top: 0;
    }
    .sp_menu_button span:nth-of-type(2) {
        top: 14px;
    }
    .sp_menu_button span:nth-of-type(3) {
        bottom: 0;
    }
    .sp_menu_button.active span:nth-of-type(1) {
        -webkit-transform: translateY(14px) rotate(-45deg);
        -moz-transform: translateY(14px) rotate(-45deg);
        -ms-transform: translateY(14px) rotate(-45deg);
        -o-transform: translateY(14px) rotate(-45deg);
        transform: translateY(14px) rotate(-45deg);
    }
    .sp_menu_button.active span:nth-of-type(2) {
        opacity: 0;
    }
    .sp_menu_button.active span:nth-of-type(3) {
        -webkit-transform: translateY(-14px) rotate(45deg);
        -moz-transform: translateY(-14px) rotate(45deg);
        -ms-transform: translateY(-14px) rotate(45deg);
        -o-transform: translateY(-14px) rotate(45deg);
        transform: translateY(-14px) rotate(45deg);
    }
    /* Menu List */
    .sp_menu_list_wrap {
        display: none;
        position: fixed;
        top: 64px;
        width: -webkit-calc(100% - 40px);
        width: -moz-calc(100% - 40px);
        width: calc(100% - 40px);
        background-color: rgba(0, 0, 0, 0.85);
        z-index: 1001;
        left: 20px;
    }
    .sp_menu {
        list-style: none;
    }
    .sp_menu a {
        font-family: "M PLUS Rounded 1c";
        text-decoration: none;
        color: #FFF;
        font-weight: bold;
        font-size: 18px;
        padding: 18px;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
    .sp_menu a.active {
        color: #68A4FD;
    }
    .sp_menu_override {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }
    /* Header */
    .header_title {
        font-size: 16px;
    }
    .hero_title_wrap {
        width: 90%;
        margin: 0 auto;
    }
    .hero_title h2 {
        text-align: center;
        font-size: 32px;
        line-height: 1.5;
        margin-bottom: 10px;
    }
    .hero_subtitle h2 {
        text-align: center;
        line-height: 1.5;
        font-size: 18px;
        word-break: keep-all;
        margin-top: 10px;
    }
    /* Skill Sets */
    .skill_set_wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .skill_wrap {
        margin-bottom: 50px;
        width: 100%;
    }
    .skill_wrap:last-of-type {
        margin-bottom: 0;
    }
    /* Profile */
    .profile_wrap {
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
    }
    .profile_name {
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .profile_links {
        text-align: center;
    }
    /* Footer */
    .footer_copyright {
        padding: 25px 10px;
    }
}